.row {
    display: flex;
    justify-content: space-evenly;
}

.team-name, .player-name, .stats, #heading {
    text-align: center;
}

ul {
    display: flex;
    justify-content: space-evenly;
}

ul li {
    display: inline;
    cursor: pointer;
}

.player {
    border: 1px solid black;
    width: 15%
}

.row {
    padding: 25px 0px;
}

.team-container {
    display: none;
}

.team-container.active {
    display: block;
}

.hidden {
    display: none;
}

.team-logo-small {
    background-image: url(images/tLogo58x-sprite.png);
    background-repeat: no-repeat;
    display: block;
    width: 58px;
    height: 58px;
    background-position: -174px -174px;
    background-size: 290px 232px
}

.team-logo-small.CSK {
    background-position: -58px 0
}

.team-logo-small.DC {
    background-position: -174px 0
}

.team-logo-small.KKR {
    background-position: -232px -58px
}

.team-logo-small.KXIP {
    background-position: -58px -116px
}

.team-logo-small.MI {
    background-position: -116px -116px
}

.team-logo-small.RCB {
    background-position: -174px -58px
}

.team-logo-small.RR {
    background-position: 0 -174px
}

.team-logo-small.SRH {
    background-position: -116px -174px
}

.team-logo-big {
    background-image: url('images/tLogo198x-sprite.png');
    background-repeat: no-repeat;
    display: block;
    width: 158px;
    height: 158px;
    background-position: -632px 0;
    background-size: 790px 632px
}

.team-logo-big.CSK {
    background-position: -158px 0
}

.team-logo-big.DC {
    background-position: -474px 0
}

.team-logo-big.KKR {
    background-position: -316px -158px
}

.team-logo-big.KXIP {
    background-position: -158px -316px
}

.team-logo-big.MI {
    background-position: -316px -316px
}

.team-logo-big.RCB {
    background-position: -474px -158px
}

.team-logo-big.RR {
    background-position: 0 -474px
}

.team-logo-big.SRH {
    background-position: -316px -474px
}
